{% extends "main/base.html" %}
{% load i18n %}
{%load static%}
{% block title %}{% blocktrans %}Password reset sent{% endblocktrans %}{% endblock %}
{% block content %}

<div class="content-container">
    <h2>{% blocktrans %}Password reset sent{% endblocktrans %}</h2>
    <p>{% blocktrans %}We've emailed you instructions for setting your password. You should receive the email shortly.{% endblocktrans %}</p>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_done.css' %}">
{% endblock %}