{% extends "main/base.html" %}
{% load i18n %}
{%load static%}
{% block title %}{% blocktrans %}Enter new password{% endblocktrans %}{% endblock %}
{% block content %}

<div class="content-container">
    <h2>{% blocktrans %}Enter new password{% endblocktrans %}</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary">{% blocktrans %}Change my password{% endblocktrans %}</button>
    </form>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_confirm.css' %}">
{% endblock %}