{% extends "main/base.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}Password reset{% endblocktrans %}{% endblock %}
{% block content %}
{%load static%}

<h2>{% blocktrans %}Password reset{% endblocktrans %}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-primary" type="submit">{% blocktrans %}Reset my password{% endblocktrans %}</button>
</form>

<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_form.css' %}">
{% endblock %}