
form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, 
form select, 
form textarea {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ced4da;
}

form input::placeholder, 
form textarea::placeholder {
    color: #6c757d;
}

form .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

form .btn-outline-primary:hover {
    background-color: #007bff;
    color: #ffffff;
}

p, 
a {
    color: #000000;
}

label, 
.helptext {
    color: #000000;
}

.password-requirements,
#id_password1_helptext,
#id_username_helptext,
#id_password2_helptext {
    color: #000000;
}


.dark-theme form {
    background-color: #3c3f41;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dark-theme form input, 
.dark-theme form select, 
.dark-theme form textarea {
    background-color: #444;
    color: #ffffff;
    border: 1px solid #555;
}

.dark-theme form input::placeholder, 
.dark-theme form textarea::placeholder {
    color: #bbb;
}

.dark-theme form .btn-outline-primary {
    color: #ffffff;
    border-color: #ffffff;
}

.dark-theme form .btn-outline-primary:hover {
    background-color: #ffffff;
    color: #333;
}

.dark-theme p, 
.dark-theme a {
    color: #ffffff;
}

.dark-theme label, 
.dark-theme .helptext {
    color: #ffffff;
}

.dark-theme .password-requirements,
.dark-theme #id_password1_helptext,
.dark-theme #id_username_helptext,
.dark-theme #id_password2_helptext {
    color: #ffffff;
}