    
    .content-container {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .content-container p, 
    .content-container h2 {
        color: #000000;
    }

    .content-container .btn-outline-primary {
        color: #007bff;
        border-color: #007bff;
    }

    .content-container .btn-outline-primary:hover {
        background-color: #007bff;
        color: #ffffff;
    }

    
    .dark-theme .content-container {
        background-color: #3c3f41;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .dark-theme .content-container p, 
    .dark-theme .content-container h2 {
        color: #ffffff;
    }

    .dark-theme .content-container .btn-outline-primary {
        color: #ffffff;
        border-color: #ffffff;
    }

    .dark-theme .content-container .btn-outline-primary:hover {
        background-color: #ffffff;
        color: #333;
    }