    /* Light mode styles */
    .content-container {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .content-container form input, 
    .content-container form select, 
    .content-container form textarea {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #ced4da;
    }

    .content-container form input::placeholder, 
    .content-container form textarea::placeholder {
        color: #6c757d;
    }

    .content-container form .btn-outline-primary {
        color: #007bff;
        border-color: #007bff;
    }

    .content-container form .btn-outline-primary:hover {
        background-color: #007bff;
        color: #ffffff;
    }

    .content-container p, 
    .content-container a {
        color: #000000;
    }

    .content-container label, 
    .content-container .helptext {
        color: #000000;
    }

    .content-container .password-requirements,
    .content-container #id_password1_helptext,
    .content-container #id_username_helptext,
    .content-container #id_password2_helptext {
        color: #000000;
    }

    /* Dark mode styles */
    .dark-theme .content-container {
        background-color: #3c3f41;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .dark-theme .content-container form input, 
    .dark-theme .content-container form select, 
    .dark-theme .content-container form textarea {
        background-color: #444;
        color: #ffffff;
        border: 1px solid #555;
    }

    .dark-theme .content-container form input::placeholder, 
    .dark-theme .content-container form textarea::placeholder {
        color: #bbb;
    }

    .dark-theme .content-container form .btn-outline-primary {
        color: #ffffff;
        border-color: #ffffff;
    }

    .dark-theme .content-container form .btn-outline-primary:hover {
        background-color: #ffffff;
        color: #333;
    }

    .dark-theme .content-container p, 
    .dark-theme .content-container a {
        color: #ffffff;
    }

    .dark-theme .content-container label, 
    .dark-theme .content-container .helptext {
        color: #ffffff;
    }

    .dark-theme .content-container .password-requirements,
    .dark-theme .content-container #id_password1_helptext,
    .dark-theme .content-container #id_username_helptext,
    .dark-theme .content-container #id_password2_helptext {
        color: #ffffff;
    }